<div class = "row">
  <div class = "col-sm-9">
    <table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">ProjectName</th>
      <th scope="col">User</th>
      <th scope="col">Category</th>
      
    </tr>
  </thead>
  <tbody>
      <%@projects.each do |project|%>
        <tr>
          
          
          <td><%=project.name%></td>
          <td><%=current_user.full_name%></td>
          <td><%=Category.get_category_name(project.category_id)%></td>
            

            
          </span>
        <%end%>

            
          </td>
        </tr>
      
  </tbody>
</table>

  </div>
</div>
